name: ci-pr-check

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
      checks: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build, Test, and Generate Reports
        run: mvn -B clean verify

      - name: JaCoCo Report to PR
        if: github.event_name == 'pull_request'
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 80
          update-comment: true
          title: 'Jacoco Code Coverage Report'

      #- name: Close PR if coverage below threshold
        #if: failure() && github.event_name == 'pull_request'
      #  uses: peter-evans/close-pull@v3.0.1
      #  with:
      #    pull-request-number: ${{ github.event.pull_request.number }}
      #    comment: |
      #      ❌ Cobertura de código abaixo de **80%**.
      #      PR fechado automaticamente.
      #      Adicione novos testes e reabra quando finalizado.

      - name: Upload Jacoco Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report-html
          path: target/site/jacoco/